.cart{
    margin-top: 100px;
}
.cart-item-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr 1fr;
    align-items: center;
    color: gray;
    font-size: max(1vw,12px);
}
.cart-item-item{
    margin: 10px 0px;
    color: black;
}
.cart-item-item img{
    width: 100px;
}
.cart hr{
    height: 1px;
    background-color: #2e2e2e;
    border: none;
}
.cart-item-item .cross{
    color: white;
    background: tomato;
    font-size: 16px;
    color: #49557e;
    border: 2px solid tomato;
    padding: 10px 30px;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.3s;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: max(12vw,20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-detail{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-bottom button{
    color: white;
    background: tomato;
    font-size: 16px;
    color: #ffffff;
    border: 4px solid tomato;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    border-radius: 50px;
    padding: 20px;
}
.cart-promocode-input input{
    background-color: rgb(202, 194, 194);
    outline: none;
    border: none;  
    border-color: tomato;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.cart-promocode-input button{
    
    background-color:tomato;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
